#title {
  background-color: #5385c1;
}

.corsit_logo {
  border-radius: 100%;
  height: 46px;
  width: 46px;
}

.corsit_head {
  font-family: 'Vollkorn', serif;
  font-size: 3rem;
  line-height: 1.5;
}

.container-fluid {
  padding: 3% 15%;
}

.r1 {
  height: 600px;
  width: 500px;
}

#nav_id {
  padding-bottom: 40px;
}

#btn_apple {
  margin-right: 12px;
}

#btn_google {
  margin-left: 12px;
}
